@CHARSET "UTF-8";
body {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size:0.8em;
    padding:1em;
}
a {
    color:#015497;
}
i {
    font-style:italic;
}
resource {
    color:green;
}
div.question {
    margin-top:5px;
}
ul {
    padding-left: 15px;
}
ul.questions {
    font-style:italic;
    list-style-image: url(img/question.png);
    padding-left: 15px;
    margin-left: 15px;
}
ul.variables {
    list-style-image: url(img/variable.png);
    padding-left: 15px;
    margin-left: 15px;
}
li.variable {
    list-style-image: url(img/variable.png);
    margin:15px;
    padding-right:45px;
}
ul.sequences {
    list-style:none;
}
table.codeScheme {
    font-size:0.8em;
}
ul.creator {
    list-style:none;
}
div.questionScheme, div.variableScheme {
    border: 1px solid #DDDDDD;
    padding:5px;
    margin-bottom:@CHARSET "UTF-8";
}
body {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size:0.8em;
    padding:1em;
}
a {
    color:#015497;
}
ul.padleft {
    margin-left:15px;
    padding-left: 15px;
}
measure {
    list-style-image:none;
    margin-top: 5px;
    margin-bottom: 5px;
}
table.categoryStatistics, th.categoryStatistics, td.categoryStatistics {
    font-size:0.8em;
    border:5px solid black;
}
table.codeScheme {
    font-size:0.8em;
}
table {
text-align:right;
vertical-align:top;
}
td.left {
text-align:left;
vertical-align:top;
}
td.right {
text-align:right;
vertical-align:top;
}
ul.creator {
    list-style:none;
}
div.questionScheme, div.variableScheme, div.universeScheme, div.instrumentation, div.conceptScheme, div.varlist, div.guidance, div.toc {
    border: 1px solid #DDDDDD;
    padding:5px;
    margin-top:5px;
}
.variableName {
    margin-top: 25px;
    padding-right:5px;
}
.universeList {
    margin:15px;
    padding-right:25px;
    list-style-image: url(img/universe.png);
    vertical-align: middle; 
}
.conceptList {
    margin:15px;
    padding-right:25px;
      list-style-image: url(img/concept.png);
    vertical-align: middle; 
}
.questionName {
    font-size:0.8em;
    #font-face:monospace; not avialable on some systems
    color:#BBBBBB;
    margin-right:5px;
    border: 1px solid #DDDDDD;
    padding:1px;
}
h3.questionSchemeName {
    margin-top: 5px;
}
.otherMaterial {
    margin-left: 10px;
}
.refNr {
    float:left;
}
.sequenceImg {
	#float:left;
	margin: 0px;
	padding: 0px;
}
.version {
    font-size:8px;
    float:right;
}
li.pdf, li.stream {
    list-style-image: url(img/pdf.png);
}
li.publication{
    list-style-image: url(img/publication.png);
}
li.html {
    list-style-image: url(img/html.png);
}
li.numeric, li.textRepresentation {
    list-style-image: url(img/input.png);
}
li.codeDomain {
    list-style-image: url(img/code-scheme.png);
}
li.sequences {
    margin-left: 15px;
    margin-top: 20px;
    margin-bottom: 5px;
    padding-right:25px;
    list-style-image: url(img/sequence.gif);
}
li.subsequences {
    list-style-image: url(img/sequence.gif);
}
li.questions {
    list-style-image: url(img/question.png);
}
li.questionsmargin {
    margin-top: 10px;
    margin-bottom: 10px;
    list-style-image: url(img/question.png);
}
li.statements {
    list-style-image: url(img/statement.gif);
}
li.instructions {
    list-style-image: url(img/instruction.png);
}
li.ifthenelses {
    list-style-image: url(img/decision_palette.gif);
}
li.filteredby {
    font-style:italic;
    list-style-image: url(img/decision_palette.gif);
}

.study {
    float:left;
}
#navigration {
    position: fixed;
    border: 1px solid;
    float:left;
    height: 100%;
    overflow:scroll;
    overflow-x:auto;
    left: 0px;
    top: 0px;
    bottom: 0px;
    margin-left: 0px;
    padding-left: 5px;
}
.filter {    
    width: 80%;
}
/* * tabs navigation* */
.tab-container {
    width:400px;
/* feel free to change the width */    
    height:300px;
    font-family: Arial,  Verdana, Helvetica, sans-serif;
    font-size: 14px;
    color: #21007F;
/* center tab-container */
    margin-left: auto;
    margin-right: auto;
}
.tab-content {
    padding: 3px 10px 3px 10px;
    clear: both;
}
.tabs ul {
    list-style: none;
    display: block;
    position: relative;
    padding:0pt;
    list-style-position: outside;
/*
  position: absolute;
  z-index: 3;
 */
}
.clear {
    clear: both;
}
.tabs ul li {
    display: block;
    position: relative;
    float: left;
    padding: 5px 10px 5px 10px;
    margin-right:5px;
    cursor: pointer;
    margin-bottom: -1px;
    font-weight: 700;
}
/* Border and background-color for tabs and tab content */
.tab-content, .tabs ul li {
    border: solid;
    border-width: 1px;
    border-color: #d0ccc9;
    background-color: #fff;
    color: #898989;
}
.tabs ul li {
    background-color: #efefef;
}
.tab-content {
}
.tabs .active {
    margin-bottom: -1px;
    background-color: #fff;
    border-bottom: 0 !important;
    border-bottom: none !important;
    top: 1px !important;
    color: #5f95ef;
}
.hide {
    display: none !important;
}
.concepts {
    list-style-image: url(img/concept.png);
}
.universes {
    list-style-image: url(img/universe.png);
}
.questions {
    list-style-image: url(img/question.png);
}
.variables {
    list-style-image: url(img/variable.png);
}
.multipleQuestion {
    color: #5f5f5f;
    font-style:italic;
}
.description {
    font-weight: normal;
    margin-left: 15px;
    margin-top: 2px;
    margin-bottom: 8px;
}

