@CHARSET "UTF-8";

body{font-family: Verdana, Arial, Helvetica, sans-serif ;}

a{color:#015497;}

ul.questions{
	list-style-image: url(img/question.png);
	padding-left: 15px;
	margin-left: 15px;
}

ul.creator{list-style:none;}

div.questionScheme{
	border: 1px solid #DDDDDD;
	padding:5px;
	margin-top:5px;	
}

.questionName{
	font-size:0.8em;
	font-face:monospace;
	color:#BBBBBB;
	margin-right:5px;
	border: 1px solid #DDDDDD;
	padding:1px;		
}

h3.questionSchemeName{
	margin-top: 5px;
}

.refNr{float:right;}

li.pdf, li.stream{list-style-image: url(img/pdf.png);}
li.html{list-style-image: url(img/html.png);}